@model List<HtmlPractice.Database.NewsInfo>

@if(Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <section id="@item.Serial" class="row">
            <!--partialview-->
            <article class="col-md-12 container-fluid">
                <header class="row">
                    <h2 class="col-md-12">@item.Subject</h2>
                </header>
                <section class="row">
                    <p class="col-md-3"><mark>@item.CreateUserName 記者台北報導</mark></p> 
                    <div class="col-md-9 row">
                        <a href="#" class="col-md-1"><img class="img-responsive" style="height:18px" src="~/Images/googleplus.png" data-toggle="tooltip" title="分享至google" /></a>
                        <a href="#" class="col-md-1"><img class="img-responsive" style="height:18px" src="~/Images/facebook_icon.jpg" data-toggle="tooltip" title="分享至facebook" /></a>
                        <div class="col-md-8"></div>
                        <span class="col-md-2">分類：科技</span>
                    </div>
                </section>
                <section class="row">
                    <figure class="col-md-3 hidden-sm">
                        <img class="img-responsive img-rounded" src="@Url.Content(item.NewsImagePath)" />
                        <figcaption class="text-center">@item.Subject.Substring(0,8)</figcaption>
                    </figure>                 
                    <p class="col-md-9 col-sm-12">
                        @Html.Raw(item.Content)
                    </p>
                </section>
                <footer class="row">
                    <p class="col-md-12 text-right">@item.Publisher<time>@item.CreateTime.Value.ToString("yyyy/MM/dd")</time></p>
                </footer>
            </article>
        </section>
        <hr />
    }
}